.days-left-text {
  font-size: 2em;
  color: #5acfd3
}

.state-emoji {
  padding-top: 15px;
  letter-spacing: 0.3em;
}


.registration-details {
  font-size: 0.75em;
}

.second-message {
  padding-top: 15px;
  font-size: 0.75em;
}

.registration-notes {
  font-size: 0.4em;
  padding-top: 50px;
}

.hurry-announcement {
  padding-top: 15px;
}

.urgent { 
  color: #ce1212;
  font-weight: 600;
  animation: blinker 1s linear infinite;
  animation-iteration-count: 2;
}

.last-day-announcement {
  color: #ce1212;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}