body {
  color: #86a6bb;
  background-color: #060e29;
  font-size: 3em;
}


.Voting-registration-question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
}

