body {
  color: #86a6bb;
  background-color: #060e29;
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #206caa;
}

a:hover {
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 500px; */
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

 .Voting-registration-question {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em; */
}

