.vote-question {
  padding-bottom: 0.5em;
}

.primary-or-general {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

button {
  background-color: #060e29;
  border: 3px solid white;
  color: white;
  font-weight: 500;
  font-size: 0.7em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #5f9dbf;
  border: 3px solid white;
}

.header {
  font-size: 1.1em;
  color: #5acfd3;
}
